.bg-aqua {
    background-color:rgba(112, 185, 233, 0.8);
}

.header-font {
    font-family: Georgia, Times, 'Times New Roman', serif serif;
    font-size: 60px;
}

.aside-buttons > li {
    margin-bottom: 10px;
}